@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

html,
body,
#root {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f7fafc;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

#events::-webkit-scrollbar {
  display: none;
}

#events {
-ms-overflow-style: none;  
scrollbar-width: none;  
}

#sideview::-webkit-scrollbar {
  display: none;
}

#sideview {
-ms-overflow-style: none;  
scrollbar-width: none;  
}

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #e7edff;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

#map{
  z-index: 0;
}

.leaflet-container{
  z-index: 0;
}